// 默认全局框架样式

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

div {
    user-select: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: .2s ease;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-user-drag: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}


html {
    font-family: 'Microsoft YaHei', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.5;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

input {
    background: none;
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 150px;
}

::-webkit-scrollbar-track {
    border-radius: 150px;
}

*,
:after,
:before {
    box-sizing: border-box;
}


li {
    list-style: none
}

img {
    vertical-align: top;
    border: none;
    -webkit-user-drag: none;
}


.vm--overlay {
    background: rgba(0, 0, 0, .6) !important;
}

.vm--top-right-slot {
    right: 20px !important;
    top: 20px !important;
}

.vm--modal {
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.2) !important;
    border-radius: 4px !important;
    background-color: transparent !important;
}